$primary-color: #c27c22;
$background-white: #eeeeee;
$background-grey: #eaeaee;
$icon-color: #79756d;
$font-color-primary: #22211f;
$font-color-secondary: #b8a996;
$font-color-footer: #cfc8c8;
$border-color-grey: #c8c7c5;
$border-color-grey-secondary: #eacaea;
$link-color: #f5aa98;
$link-color-primary: #b3deae;
$box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
$font: 'Montserrat', sans-serif;
