$primary-color: #c27c22;
$background-white: #eeeeee;
$background-grey: #eaeaea;
$icon-color: #5a564d;
$icon-background-color: #cfc7c7dc;
$icon-background-color-hover: #ce964d;
$font-color-primary: #262626;
$font-color-secondary: #b8a996;
$font-color-footer: #9e9494b7;
$border-color-grey: #c8c7c5;
$border-color-grey-secondary: #eacaea;
$link-color: #f5aa98;
$link-color-primary: #b3deae;
$box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
$font: 'Montserrat', sans-serif;
