@import './properties';

p {
  margin-top: 0.5em;
  margin-left: 1.8em;
  max-width: 37em;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #262626;
  // border: 2px solid red;
}

.card {
  position: relative;
  top: 16em;
  left: -18%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 7px 0px;
  background-color: $background-grey;
  margin-bottom: 1.5em;
  border-radius: 20px;
  width: 45vw;
  z-index: 1;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

    .profile {
      margin-bottom: 0;
      margin-top: -0.5em;
    }

    .captionContainer {
      min-width: 28em;
      margin-top: 8em;
      margin-bottom: -2em;
      margin-left: 0.6em;
    }

    .cardButton {
      position: relative;
      top: 18px;
      left: 0em;
      height: 30px;
      margin-top: -3em;

      .MuiSvgIcon-root {
        color: $icon-color;
        font-size: 20px;
        padding: 10px;
        color: $icon-color;

        &:hover {
          background-color: $icon-background-color;
          color: $font-color-primary;
          border-radius: 50px;
          cursor: pointer;
        }
      }
    }
  }
  .cation {
    margin-right: 0.8em;
  }
  .cardImage {
    width: 100%;
    display: block;
  }
  .likedBy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: -4.6em;

    .groupAvatar {
      display: flex;
      padding: 6px;
      padding-right: 5px;
    }

    span {
      white-space: nowrap;
      font-size: 0.79em;
      margin-right: auto;
      padding-top: 0;
    }

    .timePosted {
      font-size: 0.7em;
      white-space: nowrap;
      padding: 3px;
      color: $font-color-secondary;
      padding-top: 0.45em;
    }
    .datePosted {
      font-size: 0.7em;
      white-space: nowrap;
      padding: 1px;
      color: $font-color-secondary;
      padding-top: 0.45em;
    }
  }

  .cardMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 1em;
    font-size: 20px;

    .fontawesomeicon {
      color: $icon-color;
      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  .comments {
    border-top: 1px solid $border-color-grey;
    padding: 5px;
    margin-bottom: 1em;
    margin-right: 1em;

    .MuiSvgIcon-root {
      padding: 8px;
      margin-bottom: 0.8em;
      margin-left: 0.6em;
      color: $icon-color;

      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }

    .totalcomments {
      white-space: nowrap;
      padding: 18px;
      margin-left: 2.3em;
      margin-top: -4.7em;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .commentText {
      display: flex;
      margin-top: -1em;
      margin-left: 1.6em;
    }
  }
}
@media only screen and (max-width: 73.5rem) {
  .card {
    top: 16em;
    width: 60vw;
    left: -42%;
  }
}

@media only screen and (max-width: 67.5rem) {
  .card {
    top: 16em;
    width: 60vw;
    left: -20%;
  }
}
@media only screen and (max-width: 64rem) {
  .card {
    top: 20em;
    width: 65vw;
    left: -20%;
  }
}
@media only screen and (max-width: 48rem) {
  .card {
    top: 16em;
    width: 70vw;
    left: -12%;
  }
}
@media only screen and (max-width: 43rem) {
  .card {
    width: 90vw;
    left: 0%;

    .cardMenu {
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 36rem) {
    .card {
      width: 100vw;
      left: 0;
      border-radius: 0px;
    }
  }
  @media only screen and (max-width: 375px) {
    .card {
      width: 100vw;
      left: 0;
      border-radius: 0px;
    }
  }
  @media only screen and (max-width: 320px) {
    .card {
      width: 112vw;
      left: 0;
      border-radius: 0px;
    }
  }

  @media only screen and (max-width: 280px) {
    .card {
      width: 126vw;
      left: 0;
      border-radius: 0px;
    }
  }
}
