@import './properties';

.commentsContainer {
  display: flex;
  padding-left: 1.5em;
  font-size: 0.75em;
  margin-bottom: 0.4em;

  .accountName {
    margin-top: 0.3em;
    margin-left: 0.2em;
    font-weight: 700;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .comment {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 0.65em;
    margin-left: 0.5em;
  }
  .commentTime {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    color: $font-color-secondary;
    margin-top: 0.3em;
    margin-left: 0.5em;
  }
}
@media only screen and (max-width: 43rem) {
  .commentsContainer {
    .comment {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
