@import './properties';

.footer {
  color: $font-color-footer;
  font-size: 0.7em;
  margin-top: 1em;

  .links {
    display: block;
    flex-wrap: wrap;
    white-space: pre-wrap;
    margin: 0 0 0.8em 1.5em;
    padding: 0em;
    list-style: none;

    li {
      padding: 0.1em;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      &::after {
        content: '\2027';
        margin: 0 0.35em;
      }

      &:last-child::after {
        content: '';
      }
    }
  }

  .copyrights {
    margin: -0.8em 0 0 1em;
  }
}
@media only screen and (max-width: 48rem) {
  .footer {
    .links {
      margin: 0 0 0.8em 0.6em;
    }

    .copyrights {
      margin: -0.8em 0 0 0.6em;
    }
  }
}
