@import './properties';

.headerOne {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: $background-grey;
  width: 100%;
  height: 8.5%;
  border-bottom: 1px solid $border-color-grey;

  .containerOne {
    padding: 0.6em 0 0.9em 0;
    display: flex;
    align-content: center;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;

    .containerS {
      position: absolute;
      top: -8em;
      left: 25em;
      min-width: 29em;
      height: 3em;

      .lgbtn {
        position: relative;
        top: 13px;
        left: 20px;
        min-width: 10em;
        margin-left: 1em;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: pointer;
        background-color: $background-grey;
        color: $font-color-primary;
        font-size: 15px;
        font-weight: 700;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        &:hover {
          background-color: $primary-color;
          color: $background-white;
          transition: color 100ms ease-in;
        }
      }

      .lgbtns {
        position: relative;
        top: 14px;
        left: 20px;
        min-width: 10em;
        margin-left: 0.65em;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: pointer;
        background-color: $background-grey;
        color: $font-color-primary;
        font-size: 15px;
        font-weight: 700;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        &:hover {
          background-color: $primary-color;
          color: $background-white;
          transition: color 100ms ease-in;
        }
      }
    }

    .login-forms {
      position: absolute;
      left: 48%;
      top: -12.2em;
      transform: translate(-50%, 50%);
      min-width: 26.5em;
      min-height: 24.5em;
      border-radius: 20px;
      background-color: #d69239;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      h2 {
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: 700;
        white-space: nowrap;
        color: $background-white;
      }

      .formInputs {
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin-top: 10.5em;

        .inputss {
          outline-color: $primary-color;
          border: none;
          font-size: 15px;
          padding: 1em;
          margin: 0.5em;
          width: 19.5em;
          margin-left: 3.8em;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          background-color: $background-white;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
        .iconcont {
          position: absolute;
          top: 12.3em;
          left: -4em;
          border: none;
          font-size: 15px;
          padding: 1em;
          margin: 0.5em;
          width: 15px;
          height: 17px;
          margin-left: 5.8em;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          background-color: $background-grey;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        button {
          padding: 0.9em;
          margin: 0.5em;
          border-radius: 10px;
          background-color: $background-grey;
          color: $primary-color;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border: none;
          outline: none;
          font-size: 17px;
          font-weight: 700;

          &:hover {
            background-color: #beb3a1;
            color: $background-white;
            transition: color 100ms ease-in;
            cursor: pointer;
          }
        }
        h4 {
          margin-left: 6.5em;
          margin-top: 0.8em;
          color: $font-color-footer;
          font-size: 16px;
          &:hover {
            color: $font-color-primary;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
