@import './properties';

.joinothers {
  width: 20em;
  height: 28em;
  margin-top: 5em;
  border-radius: 25px;
  background-color: $background-grey;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 7px 0px;

  header {
    border-bottom: 1px solid $border-color-grey;
    h2 {
      position: relative;
      top: 1em;
      left: 4em;
    }

    .MuiSvgIcon-root {
      position: relative;
      top: -1.5em;
      left: 14em;
      margin-left: 14px;
      margin-bottom: -0.8em;
      font-size: 18px;
      padding: 10px;
      color: $icon-color;

      &:hover {
        background-color: $icon-background-color;
        color: $font-color-primary;
        border-radius: 50px;
        cursor: pointer;
      }
    }
  }
}
