@import './properties';

.logoutbutton {
  .log-out {
    display: flex;
    white-space: nowrap;
    border: none;
    min-width: 6em;
    padding: 11px;
    font-size: 14px;
    font-weight: 700;
    background-color: $background-grey;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 12px;
    transition: color 100ms ease-in;

    &:hover {
      background-color: $primary-color;
      color: $background-white;
      cursor: pointer;
    }
  }
}
