@import './properties';

.verifiedBorder {
  padding: 2.2px;
  margin-right: 0.5em;
  background-color: $primary-color;
  border-radius: 50%;
}

.profileIcon {
  border-radius: 50%;
  border: 2.5px solid $background-white;
  display: block;

  &:hover {
    cursor: pointer;
  }

  &.small {
    width: 20px;
    height: 20px;
  }

  &.medium {
    width: 35px;
    height: 35px;
  }

  &.big {
    width: 80px;
    height: 80px;
  }
}
.color {
  color: $primary-color;
}
