@import './properties';

.profile {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  margin-bottom: 0.85em;

  .textContainer {
    display: flex;
    flex-direction: column;
    max-width: 180px;

    .accountName {
      font-weight: 500;
      margin-bottom: 5px;
      margin-left: 0.15em;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .caption {
      color: $font-color-secondary;

      &.small {
        font-size: 0.8em;
      }
    }
  }

  a {
    text-align: left;
    width: 100%;
  }
}
