@import './properties';

.more {
  font-size: 15px;
  font-weight: 600;
  padding: 2px;
  margin-top: 3px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  font-size: 0.9em;

  .textContainer {
    .accountName {
      position: relative;
      font-weight: 700;
      margin-left: 0.3em;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    // .caption {
    //   display: flex;
    //   flex-direction: column;
    //   flex-wrap: wrap;
    //   text-align: start;
    //   color: $font-color-primary;

    //   &.small {
    //     font-size: 0.8em;
    //   }
    //   &.medium {
    //     font-size: 1.2em;
    //   }
    //   &.big {
    //     font-size: 3em;
    //   }
    // }
  }

  a {
    text-align: left;
    width: 100%;
  }
}
