@import './properties';

.more {
  font-size: 15px;
  font-weight: 600;
  padding: 2px;
  margin-top: 3px;
  line-height: 18px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  font-size: 0.9em;

  .textContainer {
    .accountName {
      position: relative;
      font-weight: 700;
      font-size: 15px;
      margin-left: 0.3em;
      white-space: nowrap;
      color: #262626;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .cardLocation {
      position: relative;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      margin-left: 0;
      white-space: nowrap;

      .MuiSvgIcon-root {
        font-size: 16px;
        color: $primary-color;
      }
    }
  }

  a {
    text-align: left;
    width: 100%;
  }
}
