@import './properties';

.sidebarOptions {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;

  &:hover {
    background-color: #ce964d;
    border-radius: 30px;
    color: $font-color-primary;
    transition: color 100ms ease-in;
  }

  > .MuiSvgIcon-root {
    padding: 20px;
    font-size: 35px i !important;
  }

  > h2 {
    font-weight: 800;
    font-size: 18px;
    margin-top: 14px;
    margin-left: -5px;
  }
}

.sidebarOptions--active {
  color: $primary-color;
}
