@import './properties';
.trending-options {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  margin-top: -8px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: color 100ms ease-in;
  }

  > .MuiSvgIcon-root {
    color: $primary-color;
    padding: 17px;
    font-size: 30px i !important;
  }

  > h2 {
    font-weight: 700;
    font-size: 17px;
    margin-top: 14px;
    margin-left: -5px;
    color: $font-color-primary;
  }
}
